<main>
  <section>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <span class="navbar-brand"></span>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
        aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li *ngFor="let kaisaiRecord of kaisaiList" class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
              {{kaisaiRecord.kaisaiNm}}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a *ngFor="let raceRecord of raceSummaryMap.get(kaisaiRecord.kaisaiCd)" class="dropdown-item"
                [class.alert-danger]="raceRecord.anaFlgCnt === 3" [class.alert-warning]="raceRecord.anaFlgCnt === 2"
                [class.alert-info]="raceRecord.anaFlgCnt === 1.5" (click)="$event.preventDefault()"
                [routerLink]="['/race-odds', raceRecord.kaisaiCd, raceRecord.raceNo]">
                {{ raceRecord.raceNo}}R <span style="font-size: 80%">（{{ raceRecord.umaCnt }} 頭）</span></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <section class="py-5">
    <h3 class="text-center">{{ kaisaiDt }} {{ kaisaiNm }}</h3>
    <h3 class="text-center">{{ raceNo }}R</h3>
    <button class="btn btn-light ml-5 my-2" [routerLink]="['/race-summary', kaisaiDt]">戻る</button>
    <div class="ml-5">
      <ngb-tabset #oddsTimeTabs (tabChange)="changeTab($event)">
        <ngb-tab *ngFor="let timeRecord of oddsTimeList" id="{{ timeRecord.oddsTimeNo }}"
          title="{{ timeRecord.tnpkOddsTime }}">
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="container ml-5 mt-5">
      <div class="row">
        <div class="col-sm-3 px-0">
          <h4>馬連</h4>
          <table class="table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>印</th>
                <th>順位</th>
                <th>馬番</th>
                <th>オッズ</th>
                <th>乖離率</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of umrnOddsList; index as i" [class.table-primary]="record.kabeCd === '01'"
                [class.table-danger]="record.kabeCd === '10'" class="py-0 text-right">
                <td class="text-center">
                  <select class="form-control form-control-sm p-0" style="height: 22px"
                    [(ngModel)]="umrnOddsList[i].markCd" (change)="selectMark(record, $event.target.value)">
                    <option *ngFor="let option of markOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
                </td>
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold" [class.table-info]="i < 4" [class.table-success]="i >= 4 && i < 8">
                  <span class="uma-no" [ngbTooltip]="tipContent" triggers="manual" placement="right" #tp="ngbTooltip"
                    tooltipClass="uma-info-tooltip" (click)="toggleUmaInfo(tp, raceUmaMap.get(record.umaNo))">
                    {{ record.umaNo | number }}
                  </span>
                </td>
                <td>{{ record.umrnOdds | number: '1.1-1' }}</td>
                <td>{{ record.diffRt | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 px-0">
          <h4>単勝</h4>
          <table class="table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>順位</th>
                <th>馬番</th>
                <th>オッズ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of tanOddsList" [class.table-danger]="record.idoFlg" class="py-0 text-right">
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold">
                  <span class="uma-no" [ngbTooltip]="tipContent" triggers="manual" placement="right" #tp="ngbTooltip"
                    tooltipClass="uma-info-tooltip" (click)="toggleUmaInfo(tp, raceUmaMap.get(record.umaNo))">
                    {{ record.umaNo | number }}
                  </span>
                </td>
                <td>{{ record.tanOdds | number: '1.1-1' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 px-0">
          <h4>複勝</h4>
          <table class="table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>順位</th>
                <th>馬番</th>
                <th>オッズ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of fukuOddsList" [class.table-danger]="record.idoFlg" class="py-0 text-right">
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold">
                  <span class="uma-no" [ngbTooltip]="tipContent" triggers="manual" placement="right" #tp="ngbTooltip"
                    tooltipClass="uma-info-tooltip" (click)="toggleUmaInfo(tp, raceUmaMap.get(record.umaNo))">
                    {{ record.umaNo | number }}
                  </span>
                </td>
                <td>{{ record.fukuOdds | number: '1.1-1' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-5 px-0">
          <h4>時系列</h4>
          <table class="table-sm table-bordered table-hover" *ngIf="selectedTab != '0'">
            <thead class="table-header">
              <tr>
                <th>順位</th>
                <th>馬番</th>
                <th>{{ oddsDiffTimeFrom }}</th>
                <th>{{ oddsDiffTimeTo }}</th>
                <th>上昇度</th>
                <th>{{ oddsDiffTimeFrom }}</th>
                <th>{{ oddsDiffTimeTo }}</th>
                <th>上昇度</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of umrnOddsList" class="py-0 text-right">
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold" [class.table-danger]="
                    tnpkOddsDiffMap.get(record.umaNo).tanUpFlg && tnpkOddsDiffMap.get(record.umaNo).fukuUpFlg
                  ">
                  <span class="uma-no" [ngbTooltip]="tipContent" triggers="manual" placement="right" #tp="ngbTooltip"
                    tooltipClass="uma-info-tooltip" (click)="toggleUmaInfo(tp, raceUmaMap.get(record.umaNo))">
                    {{ record.umaNo | number }}
                  </span>
                </td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).tanOdds1 | number: '1.1-1' }}</td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).tanOdds2 | number: '1.1-1' }}</td>
                <td [class.table-warning]="tnpkOddsDiffMap.get(record.umaNo).tanUpFlg">
                  {{ tnpkOddsDiffMap.get(record.umaNo).tanUpRt | number: '1.2-2' }}
                </td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).fukuOdds1 | number: '1.1-1' }}</td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).fukuOdds2 | number: '1.1-1' }}</td>
                <td [class.table-warning]="tnpkOddsDiffMap.get(record.umaNo).fukuUpFlg">
                  {{ tnpkOddsDiffMap.get(record.umaNo).fukuUpRt | number: '1.2-2' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section>
    <ng-template #tipContent let-wakuNo="wakuNo" let-umaNo="umaNo" let-umaNm="umaNm" let-jockeyNm="jockeyNm">
      {{wakuNo}} 枠 {{umaNo}} 番<br />
      {{umaNm}}<br />
      {{jockeyNm}}
    </ng-template>
  </section>
</main>