<h2>race-odds</h2>
<main>
  <section class="py-5">
    <h3 class="mb-5 text-center">{{ kaisaiDt }} {{ kaisaiNm }} {{ raceNo }}R</h3>
    <button class="ml-5 my-2" (click)="goBack()">戻る</button>
    <div class="ml-5">
      <ngb-tabset #oddsTimeTabs (tabChange)="changeTab($event)">
        <ngb-tab
          *ngFor="let timeRecord of oddsTimeList"
          id="{{ timeRecord.oddsTimeNo }}"
          title="{{ timeRecord.tnpkOddsTime }}"
        >
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="container ml-5 mt-5">
      <div class="row">
        <div class="col-sm-3 px-0">
          <h4>馬連</h4>
          <table class="table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>印</th>
                <th>順位</th>
                <th>馬番</th>
                <th>オッズ</th>
                <th>乖離率</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let record of umrnOddsList; index as i"
                [class.table-primary]="record.kabeCd === '01'"
                [class.table-danger]="record.kabeCd === '10'"
                class="py-0 text-right"
              >
                <td class="text-center">
                  <select
                    class="form-control form-control-sm p-0"
                    style="height: 22px"
                    [value]="record.markCd"
                    (change)="selectMark(record, $event.target.value)"
                  >
                    <option *ngFor="let option of markOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
                </td>
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold" [class.table-info]="i < 4" [class.table-success]="i >= 4 && i < 8">
                  {{ record.umaNo | number }}
                </td>
                <td>{{ record.umrnOdds | number: '1.1-1' }}</td>
                <td>{{ record.diffRt | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 px-0">
          <h4>単勝</h4>
          <table class="table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>順位</th>
                <th>馬番</th>
                <th>オッズ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of tanOddsList" [class.table-danger]="record.idoFlg" class="py-0 text-right">
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold">{{ record.umaNo }}</td>
                <td>{{ record.tanOdds | number: '1.1-1' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 px-0">
          <h4>複勝</h4>
          <table class="table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>順位</th>
                <th>馬番</th>
                <th>オッズ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of fukuOddsList" [class.table-danger]="record.idoFlg" class="py-0 text-right">
                <td>{{ record.ninkiNo | number }}</td>
                <td class="font-weight-bold">{{ record.umaNo }}</td>
                <td>{{ record.fukuOdds | number: '1.1-1' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-5 px-0">
          <h4>時系列</h4>
          <table class="table-sm table-bordered table-hover" *ngIf="selectedTab != '0'">
            <thead class="table-header">
              <tr>
                <th>順位</th>
                <th>馬番</th>
                <th>{{ oddsDiffTimeFrom }}</th>
                <th>{{ oddsDiffTimeTo }}</th>
                <th>上昇度</th>
                <th>{{ oddsDiffTimeFrom }}</th>
                <th>{{ oddsDiffTimeTo }}</th>
                <th>上昇度</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of umrnOddsList" class="py-0 text-right">
                <td>{{ record.ninkiNo | number }}</td>
                <td
                  class="font-weight-bold"
                  [class.table-danger]="
                    tnpkOddsDiffMap.get(record.umaNo).tanUpFlg && tnpkOddsDiffMap.get(record.umaNo).fukuUpFlg
                  "
                >
                  {{ record.umaNo | number }}
                </td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).tanOdds1 | number: '1.1-1' }}</td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).tanOdds2 | number: '1.1-1' }}</td>
                <td [class.table-warning]="tnpkOddsDiffMap.get(record.umaNo).tanUpFlg">
                  {{ tnpkOddsDiffMap.get(record.umaNo).tanUpRt | number: '1.2-2' }}
                </td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).fukuOdds1 | number: '1.1-1' }}</td>
                <td>{{ tnpkOddsDiffMap.get(record.umaNo).fukuOdds2 | number: '1.1-1' }}</td>
                <td [class.table-warning]="tnpkOddsDiffMap.get(record.umaNo).fukuUpFlg">
                  {{ tnpkOddsDiffMap.get(record.umaNo).fukuUpRt | number: '1.2-2' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
