<main>
  <section class="py-5 text-center">
    <h3 class="pb-2">開催日選択</h3>
    <ngb-datepicker #kaisaiDp [displayMonths]="displayMonths" [navigation]="navigation"
      [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays" [markDisabled]="isKaisaiDpDisabled"
      (select)="selectDate($event)" [(ngModel)]="kaisaiDpModel"></ngb-datepicker>
  </section>
  <section class="pb-5 text-center" *ngIf="kaisaiDt">
    <h3 class="my-4">開催日: {{ kaisaiDt }}</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-{{ 12 / kaisaiList.length}}" *ngFor="let kaisaiRecord of kaisaiList">
          <h4 class="my-3">{{ kaisaiRecord.kaisaiNm }}</h4>
          <table class="table-sm table-bordered table-hover mx-auto">
            <thead class="table-header">
              <tr>
                <th rowspan="2">R</th>
                <th rowspan="2">出走<br>頭数</th>
                <th rowspan="2">単勝<br>10 位</th>
                <th rowspan="2">馬連<br>1 位</th>
                <th rowspan="2">複勝<br>8 位</th>
                <th colspan="4">穴レース判定</th>
                <!--th-->
                <!--th-->
                <!--th-->
              </tr>
              <tr>
                <!--th-->
                <!--th-->
                <!--th-->
                <!--th-->
                <!--th-->
                <th>単勝</th>
                <th>馬連</th>
                <th>複勝</th>
                <th>判定</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of raceSummaryMap.get(kaisaiRecord.kaisaiCd)"
                [class.table-danger]="record.anaFlgCnt === 3" [class.table-warning]="record.anaFlgCnt === 2"
                [class.table-info]="record.anaFlgCnt === 1.5">
                <td class="text-right">
                  <a [routerLink]="['/race-odds', record.kaisaiCd, record.raceNo]">{{ record.raceNo }}</a>
                </td>
                <td class="text-right">{{ record.umaCnt }}</td>
                <td class="text-right">{{ record.tan10Odds | number: '1.1-1' }}</td>
                <td class="text-right">{{ record.umrn1Odds | number: '1.1-1' }}</td>
                <td class="text-right">{{ record.fuku8Odds | number: '1.1-1' }}</td>
                <td class="text-center">{{ record.tanAnaFlg ? '✓' : null }}</td>
                <td class="text-center">{{ record.umrnAnaFlg ? '✓' : null }}</td>
                <td class="text-center">{{ record.fukuAnaFlg ? '✓' : null }}</td>
                <td class="text-center">{{ getAJdgeRslt(record.anaFlgCnt) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>